# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\DUC\ArcSoftFaceDemo-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
